body {
    font-family: Arial, Helvetica, sans-serif;
  }

  table {
    width: 300px;
    border-collapse: collapse;
  }

  tr.dados {
    background-color: rgb(245, 147, 135);
    text-align: center;
  }

  tr.marinna {
    background-color: rgb(101, 223, 223);
    text-align: center;
  }

  tr.pedro {
    background-color: rgb(101, 223, 223);
    text-align: center;
  }

  td {
    border: 1px solid black;
    padding: 8px;
  }

.box{
    display: grid;
    justify-content: center;
  
}
